<form action="javascript:open_qcomparison($('#uuidx').val(), $('#uuidy').val(), $('#sim').val(), false)">
    <input id="uuidx" name="uuidx" type="text" value="{{ uuid_x }}"/>
    <input id="uuidy" name="uuidy" type="text" value="{{ uuid_y }}"/>
    <select id="sim">
        {% for sim in sims %}
            <option value="{{sim}}" {% if sim==sim_name %} selected="selected" {% endif %}>{{sim}}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>
<label><input type='checkbox' id="cs-only" onclick='toggle_cs_only(this)'>Only cross-survey similarities</label>


<p>
    Comparing <b>{{ uuid_x }}</b> vs <b>{{ uuid_y }}</b>. Similarity scores for fields are for <b>{{ sim_name }}</b>
</p>

{{ content | safe }}